<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <!-- Enable usage of @Autowired. -->
    <context:annotation-config/>

    <!-- Auto scan the components -->
    <context:component-scan
            base-package="com.mmontes"/>

    <!-- Properties -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>properties/datasource.properties</value>
                <value>properties/hibernate.properties</value>
            </list>
        </property>
    </bean>

    <!-- Database Configuration -->
    <import resource="db/datasource.xml"/>
    <import resource="db/hibernate-config.xml"/>

</beans>